.staking {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.staking-content {
  padding: 30px;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.staking-sidebar {
  padding: 20px 15px 20px 15px;
  width: 290px;
  height: 100%;
  overflow-y: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-shadow: 1px 2px 20px var(--boxshadow-card);
  box-shadow: 1px 2px 20px var(--boxshadow-card);
}

.staking-sidebar-cards .staking-card-item {
  margin-bottom: 16px;
}

.staking-sidebar-card-value {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.staking .line {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 6px;
  background-color: var(--primary-color);
  width: 85px;
  border-radius: 5px;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.staking .tabs {
  border-bottom: 1px solid var(--boxshadow-card);
}

.staking .tab__item {
  font-size: 14px;
}

.staking .tabs-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.staking-card-title {
  font-weight: 500;
  border-bottom: 1px #e4e4e4 solid;
  padding-bottom: 8px;
  color: var(--text-color);
  font-size: 16px;
}

.staking-card-body {
  text-align: center;
  font-weight: bolder;
  color: var(--primary-color);
  line-height: 1.5;
}

.staking-card-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 10px 15px;
}

.staking-card-item {
  background-color: var(--staking-card-bg);
  padding: 15px;
  border-radius: 20px;
  min-width: 235px;
  text-align: ceter;
}

.staking-card-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.staking-tab-content-heading {
  margin: 16px 0 30px !important;
  font-size: 28px !important;
  text-align: center;
  font-weight: 500;
  line-height: 1.2;
  color: var(--home-text-color);
}

.step-content {
  margin-top: 24px;
}

.step-card {
  border: 1px solid var(--staking-card-bg);
  background-color: var(--staking-card-bg);
  padding: 15px;
  border-radius: 20px;
}

.step-checkpoints {
  text-align: center;
  color: var(--home-text-color);
}

.step-checkpoints h2 {
  margin-bottom: 6px;
  font-size: 24px !important;
  font-weight: 500;
}

.step-checkpoints p {
  font-size: 16px;
  margin-bottom: 16px;
}

.step-checkpoints-content {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.step-checkpoints-list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 24px;
}

.step-checkpoints-item {
  border-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  color: var(--text-color);
  border: 1px solid rgba(0, 0, 0, 0.12);
  cursor: pointer;
  padding: 10px 15px;
  border-radius: 20px;
}

.step-checkpoints-item b {
  font-size: 14px;
  line-height: 1.5;
}

.step-checkpoints-item p {
  font-size: 13px;
  margin: 0 !important;
}

.step-checkpoints-check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 40px;
  gap: 10px;
}

.step-checkpoints-check input {
  cursor: pointer;
  width: 20px;
  height: 20px;
}

.step-checkpoints-check label {
  font-size: 16px;
}

.step-checkpoints-check a {
  font-size: 16px;
  color: #0d6efd;
  text-decoration: underline;
}

.stepIcon {
  background-color: #ccc;
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-radius: 50%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.activeIcon {
  background-color: var(--primary-color);
  color: white;
}

.MuiStepLabel-label.Mui-active {
  color: var(--primary-color) !important;
}

.MuiStepLabel-label {
  color: #6c757d !important;
}

.css-2royc9 {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.MuiStepLabel-root {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 10px 0;
}

.MuiButtonBase-root {
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(var(--primary-color)),
    to(var(--primary-color))
  );
  background: linear-gradient(
    to right,
    var(--primary-color),
    var(--primary-color)
  );
  border: 1px var(--primary-color) solid !important;
  border-radius: 20px !important;
  color: #fff !important;
  padding: 5px 18px !important;
  -webkit-box-shadow: 1px 0 2px #ff1baf5d;
  box-shadow: 1px 0 2px #ff1baf5d;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 10px;
}

.MuiButton-root.Mui-disabled {
  -webkit-tap-highlight-color: transparent;
  background: #ccc !important;
  border: none !important;
  outline: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

@media screen and (max-width: 1200px) {
  .tabs-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 20px;
  }
}

@media screen and (max-width: 992px) {
  .staking-card-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 20px;
    width: 100%;
  }
  .staking-card-item {
    width: 100%;
  }
}

@media screen and (max-width: 1024px) {
  .staking {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    gap: 20px;
  }
  .staking-sidebar {
    width: 100%;
  }
  .staking-card-btns {
    gap: 20px;
  }
  .staking-card-btns button {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
  .step-checkpoints-list {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 768px) {
  .staking-content {
    padding: 0 15px;
  }
  .detailproject .tabs {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .detailproject .tab__item {
    font-size: 15px;
  }
  .step-checkpoints-list {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
  .MuiStepper-root {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
    -ms-flex-direction: column !important;
    flex-direction: column !important;
  }
  .MuiStepLabel-iconContainer {
    padding: 0 !important;
  }
  .step-card {
    padding: 10px;
  }
  .step-checkpoints-check {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
/*# sourceMappingURL=staking.css.map */
