.MuiTable-root {
  min-width: unset !important;
  background-color: var(--body-bg) !important;
  box-shadow: var(--boxshadow-table) !important;
}
.MuiTableHead-root .MuiTableRow-root {
  background-color: var(--primary-color);
}

.MuiTableCell-root {
  color: var(--text-color) !important;
}
