.btnPrimary {
  background: linear-gradient(
    to right,
    var(--primary-color),
    var(--primary-color)
  );
  border: 1px var(--primary-color) solid !important;
  border-radius: 20px;
  color: #fff !important;
  padding: 5px 18px !important;
  box-shadow: 1px 0 2px #ff1baf5d;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  transition: all 0.4 linear;
}
.btnPrimary:hover {
  background: linear-gradient(to right, #f1b90c, #f0b90b);
  box-shadow: 1px 2px 15px #f1b90c;
  color: #fff !important;
}
.btnIcon {
  /* width: 14px; */
}
.btnSmall {
  font-size: 14px;
}

.btnOutlinePrimary {
  background: transparent;
  border: 1px var(--primary-color) solid !important;
  color: var(--primary-color) !important;
}

.btnCircle {
  width: 32px;
  height: 32px;
  display: flex;
  padding: 0 !important;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  line-height: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btnLarge {
  padding: 10px 20px !important;
  letter-spacing: 0.1em;
  min-width: 120px;
  font-size: 16px;
  line-height: 25px;
  text-transform: uppercase;
  border-radius: 40px;
  font-weight: 500;
}
.btnLarge > .btnIcon {
  margin-right: 10px !important;
}
.btnPancake {
  background: linear-gradient(to right, #1fc7d4, #1fc7d4);
  border: 1px #1fc7d4 solid !important;
  box-shadow: 1px 0 2px #1cbcc7;
  color: #fff !important;
}
.btnPancake:hover {
  transition: all ease-in-out 0.2s;
  box-shadow: 1px 2px 15px #1fc7d4;
  color: #fff !important;
}
.btnSuccess {
  background: linear-gradient(to right, #02bf02, #02bf02);
  border: 1px #02bf02 solid !important;
  box-shadow: 1px 0 2px #ff1baf5d;
  color: #fff !important;
}
.btnSuccess:hover {
  transition: all ease-in-out 0.2s;
  box-shadow: 1px 2px 15px #02bf02;
  color: #fff !important;
}
.btnMexc {
  background-color: #0d202d;
  border-color: #0d202d;
  color: #fff !important;
  transition: all ease-in-out 0.2s;
}
.btnMexc:hover {
  box-shadow: 1px 2px 15px #4083b1;
  color: #fff !important;
}
.btnGateio {
  background-color: #004655;
  border-color: #004655;
  color: #fff !important;
  transition: all ease-in-out 0.2s;
}
.btnGateio:hover {
  box-shadow: 1px 2px 15px #4083b1;
  color: #fff !important;
}
.btnDisabled {
}
